<form class="" action="/named-cat" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" value=""/>
  </div>
  <div>
    <label for="submit">Submit:</label>
    <input type="submit" name="submit" value="Submit"/>
  </div>
</form>
